<header>
  <div class="container">
    logo
  </div>
</header>

<div class="query-form">
  <div class="container">
    <%= form_with model: @query, method: :post do |form| %>
      <%= form.label :string, class: "hidden" %>
      <%= form.text_area :string, value: @query.string, class: "query-form__query-string", placeholder: "Query in pure SQL or ActiveRecord" %>
      <%= form.label :name, class: "hidden" %>
      <%= form.text_field :name, class: "query-form__query-name", placeholder: "Query name" %>
      <div class="query-form__controls">
        <%= form.submit "Save", class: "query-form__submit" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container saved-queries">
  <h2>Saved Queries</h2>

  <% if @queries.size == 0 %>
    <p>Save some queries to see them here.</p>
  <% else %>
    <ul>
      <% @queries.each_with_index do |query, i| %>
        <% if i != 0 %>
          <div class="divider">
            <span class="divider__line"></span>
            <span class="divider__icon">X</span>
            <span class="divider__line"></span>
          </div>
        <% end %>

        <li class="saved-queries__item">
          <div class="saved-queries__header">
            <h3><%= link_to query.name, query_path(id: query.id), class: "saved-queries__name" %></h3>
            <span class="saved-queries__tag saved-queries__tag--<%= query.shared? ? "public" : "private" %>"><%= query.shared? ? "public" : "private" %></span>
          </div>

          <p class="saved-queries__string"><%= query.string %></p>

          <%= button_to "Delete", query_path(id: query.id), method: :delete, data: { confirm: "Are you sure?" }, class: "saved-queries__delete" %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
