<%= form_with url: root_path, method: :get do |form| %>
  <%= form.label :query %>
  <br />
  <%= form.text_area :query, value: @query.string %>
  <br />
  <%= form.submit "run" %>
<% end %>

<% if @result.present? && @result.valid? %>
  <% @result.columns.each do |column| %>
    <span><%= column %></span>
  <% end %>

  <% @result.rows_with_columns.each do |row_with_columns| %>
    <% if false && row_with_columns.key?("id") && @result.class.present? %>
      <%= form_with url: records_path, method: :put do |form| %>
        <%= form.hidden_field :id_, value: row_with_columns.fetch("id")  %>
        <%= form.hidden_field :class_, value: @result.klass %>
        <%= form.hidden_field :query_id, value: @query.id %>
        <% row_with_columns.each do |column, value| %>
          <span><%= form.text_field column, value: value, id: "#{column}-#{row_with_columns.fetch("id")}", name: "record_params[#{column}]" %></span>
        <% end %>
        <span><%= form.submit "Update", id: "update-#{row_with_columns.fetch("id")}" %></span>
      <% end %>

      <%= form_with url: records_path, method: :delete do |form| %>
        <%= form.hidden_field :id_, value: row_with_columns.fetch("id")  %>
        <%= form.hidden_field :class_, value: @result.klass %>
        <%= form.hidden_field :query_id, value: @query.id %>
        <span><%= form.submit "Delete", id: "delete-#{row_with_columns.fetch("id")}" %></span>
      <% end %>
    <% else %>
      <% row_with_columns.each do |_column, value| %>
        <span><%= value %></span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if @result.present? && @result.invalid? %>
  <%= @result.error_message %>
<% end %>

<%= form_with model: @query, method: :post do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.hidden_field :string, value: @query.string %>
  <%= form.submit "save" %>
<% end %>

<ul>
  <% @queries.each do |query| %>
    <li><%= link_to query.name, query_path(id: query.id) %></li>
  <% end %>
</ul>
