<%= form_with url: root_path, method: :get do |form| %>
  <%= form.label :query %>
  <br />
  <%= form.text_area :query, value: @query.string %>
  <br />
  <%= form.submit "run" %>
<% end %>

<%= render "bar_back/queries/result", result: @result %>

<% if @result.present? %>
  <%= form_with model: @query, method: :post do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.hidden_field :string, value: @query.string %>
    <%= form.submit "save" %>
  <% end %>
<% end %>

<ul>
  <% @queries.each do |query| %>
    <li><%= link_to query.name, query_path(id: query.id) %></li>
  <% end %>
</ul>
