<%= form_with model: @query, method: :post do |form| %>
  <%= form.label :string %>
  <br />
  <%= form.text_area :string %>
  <br />
  <%= form.label :name %>
  <br />
  <%= form.text_field :name %>
  <br />
  <%= form.submit "Save" %>
<% end %>

<ul>
  <% @queries.each do |query| %>
    <li><%= link_to query.name, query_path(id: query.id) %></li>
  <% end %>
</ul>
