<h1>Shared Queries</h1>

<%= @query.string %>

<br />

<% if @result.present? && @result.valid? %>
  <% @result.columns.each do |column| %>
    <span><%= column %></span>
  <% end %>

  <% @result.rows_with_columns.each do |row_with_columns| %>
    <% if false && row_with_columns.key?("id") && @result.class.present? %>
      <%= form_with url: records_path, method: :put do |form| %>
        <%= form.hidden_field :id_, value: row_with_columns.fetch("id")  %>
        <%= form.hidden_field :class_, value: @result.klass %>
        <%= form.hidden_field :query_id, value: @query.id %>
        <% row_with_columns.each do |column, value| %>
          <span><%= form.text_field column, value: value, id: "#{column}-#{row_with_columns.fetch("id")}", name: "record_params[#{column}]" %></span>
        <% end %>
        <span><%= form.submit "Update", id: "update-#{row_with_columns.fetch("id")}" %></span>
      <% end %>
    <% else %>
      <% row_with_columns.each do |_column, value| %>
        <span><%= value %></span>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @result.present? && @result.invalid? %>
  <%= @result.error_message %>
<% end %>

<%= link_to "csv", query_path(id: @query.id, format: "csv") %>
