<% if @record.errors_not_for(result.columns).present? %>
  <span class="records__errors"><%= @record.errors_not_for(result.columns) %></span>
<% end %>

<%= form_with url: records_path, method: :post do |form| %>
  <%= form.hidden_field :query_id, value: query.id %>
  <%= render 'bar_back/table', type: :create, columns: result.columns - ["id"], form: form %>
  <%= form.submit "Create", id: "create", class: "records__create" %>
<% end %>
