<div class="table">
  <% result.rows_with_columns.each_with_index do |row_with_columns, i| %>
    <% if i != 0 %>
      <div class="divider">
        <span class="divider__line"></span>
        <span class="divider__icon">X</span>
        <span class="divider__line"></span>
      </div>
    <% end %>

    <% if local_assigns.fetch(:allow_updates?, false) && row_with_columns.key?("id") && result.active_record_class.present? %>
      <%= form_with url: records_path, method: :put do |form| %>
        <%= form.hidden_field :id_, value: row_with_columns.fetch("id")  %>
        <%= form.hidden_field :query_id, value: @query.id %>
        <div class="table__row">
          <div class="table__column table__column--header">
            <% result.columns.each do |column| %>
              <div class="table__header"><%= column %></div>
            <% end %>
          </div>
          <div class="table__column table__column--data">
            <% row_with_columns.each do |column, value| %>
              <%= form.text_field column, value: value, id: "#{column}-#{row_with_columns.fetch("id")}", name: "record_params[#{column}]", class: "table__input" %>
            <% end %>
          </div>
        </div>
        <div class="result__controls">
          <span><%= link_to "Delete", records_path(id_: row_with_columns.fetch("id"), query_id: @query.id), id: "delete-#{row_with_columns.fetch("id")}", data: { confirm: "Are you sure?" }, method: :delete, class: "result__delete" %></span>
          <span><%= form.submit "Update", id: "update-#{row_with_columns.fetch("id")}", class: "result__update" %></span>
        </div>
      <% end %>
    <% else %>
      <div class="table__row">
        <div class="table__column table__column--header">
          <% result.columns.each do |column| %>
            <div class="table__header"><%= column %></div>
          <% end %>
        </div>
        <div class="table__column table__column--data">
          <% row_with_columns.each do |_column, value| %>
            <span><%= value %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
