<% if result.invalid? %>
  <%= render 'bar_back/root/errors', full_messages: [result.error_message] %>

<% else %>
  <div class="results">
    <% if result.size.zero? %>
      <div class="results__header">
        <h2 class="results__heading">No Results</h2>
      </div>

    <% else %>
      <div class="results__header">
        <h2>Results (<%= result.size %>)</h2>
        <%= link_to "Export CSV", query_path(id: query.id, format: "csv"), class: "results__export" %>
      </div>

      <% if local_assigns.fetch(:allow_writes?, false) %>
        <%= render 'bar_back/queries/visibility', query: query %>
      <% end %>

      <%= render "bar_back/queries/records", result: result, allow_writes?: local_assigns.fetch(:allow_writes?, false), query: query %>
    <% end %>

    <% if local_assigns.fetch(:allow_writes?, false) && result.active_record_class.present? %>
      <% if result.rows_with_columns.size.positive? %>
        <div class="divider">
          <span class="divider__line"></span>
          <span class="divider__icon">X</span>
          <span class="divider__line"></span>
        </div>
      <% end %>

      <%= render 'bar_back/queries/create_record', query: query, result: result %>
    <% end %>
  </div>
<% end %>
