<% if result.invalid? %>
  <%= render 'bar_back/root/errors', full_messages: [result.error_message] %>

<% else %>
  <div class="results">
    <% if result.size.zero? %>
      <div class="results__header">
        <h2 class="results__heading">No Results</h2>
      </div>

    <% else %>
      <div class="results__header">
        <h2>Results (<%= result.size %>)</h2>
        <span class="export">
          <i class="icon icon--export">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><path d="M4.8,30h20.3c1.6,0,2.8-1.3,2.9-2.9V14c0-0.6-0.4-1-1-1s-1,0.4-1,1v13.1c0,0.5-0.4,0.9-0.9,0.9l0,0H4.8C4.4,28,4,27.6,4,27.1l0,0V6.8C4,6.4,4.4,6,4.8,6H18c0.6,0,1-0.4,1-1s-0.4-1-1-1H4.8C3.3,4,2,5.3,2,6.8v20.3C2,28.7,3.3,30,4.8,30z" /><path d="M29,11c0.6,0,1-0.4,1-1V3c0-0.6-0.4-1-1-1h-7c-0.6,0-1,0.4-1,1s0.4,1,1,1h4.6L12.3,18.3c-0.4,0.4-0.4,1,0,1.4c0,0,0,0,0,0c0.4,0.4,1,0.4,1.4,0c0,0,0,0,0,0L28,5.4V10C28,10.6,28.4,11,29,11z"/></svg>
          </i>
          <%= link_to "Export CSV", query_path(id: query.id, format: "csv"), class: "export__link" %>
        </span>
      </div>

      <% if local_assigns.fetch(:allow_writes?, false) %>
        <%= render 'bar_back/queries/visibility', query: query %>
      <% end %>

      <%= render "bar_back/queries/records", result: result, allow_writes?: local_assigns.fetch(:allow_writes?, false), query: query %>
    <% end %>

    <% if local_assigns.fetch(:allow_writes?, false) && result.active_record_class.present? %>
      <% if result.rows_with_columns.size.positive? %>
        <div class="divider">
          <span class="divider__line"></span>
          <span class="divider__icon">X</span>
          <span class="divider__line"></span>
        </div>
      <% end %>

      <%= render 'bar_back/queries/create_record', query: query, result: result %>
    <% end %>
  </div>
<% end %>
