<div class="container">
  <h1><%= @query.name %></h1>

  <p class="saved-queries__string"><%= @query.string %></p>

  <%= render "bar_back/queries/results", query: @query, result: @result, error_messages: @error_messages %>
</div>

<footer class="footer">
  <div class="container footer__container">
    <div><%= link_to "logo", root_path %></div>

    <div class="footer__text">Query shared with <%= link_to "BarBack", "http://example.com", target: '_blank', class: "footer__link" %></div>
  </div>
</footer>
