<div class="container">
  <h1 class="h1"><%= @query.name %></h1>

  <p class="saved-queries__string"><%= @query.string %></p>

  <% if @query.errors.any? %>
    <%= render 'bar_back/root/errors', full_messages: @query.errors.full_messages %>
  <% else %>
    <%= render "bar_back/queries/results", query: @query, result: @result, record: @record %>
  <% end %>
</div>

<footer class="footer">
  <div class="container footer__container">
    <%= render "bar_back/logo", klass: "logo logo--bigger", href: "https://github.com/3v0k4/bar_back", target: "_blank" %>
    <div class="footer__text">Query shared with <%= link_to "BarBack", "http://example.com", target: '_blank', class: "footer__link" %></div>
  </div>
</footer>
